.moviescard {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 201px 46px;
  gap: 14px 30px;
  position: relative;
}

.moviescard__image {
  width: 100%;
  border-radius: 6px;
  grid-column: 1/3;
  object-fit: cover;
  pointer-events: none;
}

.moviescard__name {
  color: #FFF;
  margin: 0 0 0 14px;
  
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moviescard__duration {
  color: #8B8B8B;
  width: 52px;
  height: 18px;
  margin: 0 14px 0 0;
  border-radius: 3px;
  background: #2F2F2F;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
  
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.moviescard__button {
  color: #FFF;
  width: 72px;
  height: 21px;
  margin: 0;
  border: none;
  border-radius: 30px;
  padding: 0;
  background: #313131;
  position: absolute;
  top: 14px;
  right: 14px;
  opacity: 0;
  text-align: center;
  
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  transition: all 0.4s;
  cursor: pointer;
}

.moviescard:hover .moviescard__button {
  opacity: 1;
}

.moviescard__button_saved {
  opacity: 1;
  background: url(../../images/save3.svg) no-repeat right;
}

.moviescard__button_delete {
  background: url(../../images/d3.svg) no-repeat right;
}

@media screen and (max-width: 1280px) {
  .moviescard {
    grid-template-rows: 190px 35px;
    gap: 25px 30px;
  }
  .moviescard__name {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .moviescard__duration {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .moviescard {
    grid-template-rows: 168px 24px;
    gap: 16px 30px;
  }
}
