.navtab {
  display: flex;
}

.navtab__button {
  color: #FFF;
  height: 36px;
  width: 96px;
  margin-right: 10px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: all 0.4s;
  cursor: pointer;
}

button.navtab__button:nth-of-type(3) {
  margin-right: 0;
}

.navtab__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .navtab__button {
    width: 82px;
    height: 26px;
    margin-right: 6px;
    border-radius: 6px;
    font-size: 12px;
  }
}